.border-between > [class*='col-']:before {
    background: #e3e3e3;
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    width: 3px;
    top: 0;
 }
 
 .border-between > [class*='col-']:first-child:before {
    display: none;
 }

 .react-datepicker-wrapper {
   width: 180px;
   padding: 5px 0;
   margin-right: 10px;
}

.bg-service-desk {
   background: #004152;
}

.btn-service-desk {
   color: #004152 !important;
   background-color: #00ecc9 !important;
}

.btn-secondary {
   background: #f5f5f5 !important;
   color: #000000 !important;
}

.btn-service-desk-primary {
   color: #ffffff !important;
   background: #3b73af !important;
}